<div class="app">
  <div class="app__header">
    <app-header />
  </div>
  <div class="app__card card">
    <div class="app__card-body card-body">
      <app-account-info
        [target]="target"
        (newTransfer)="newTransfer()"
      />
    </div>
  </div>
  <div class="app__stocks">
    <app-stocks
      [stocks]="stocks"
      (stockSelected)="selectStock($event)"
    />
  </div>
  <div class="app__modal">
    <app-modal
      [stock]="stock"
      [isOpen]="isOpen"
      [quantity]="quantity"
      [orderPrice]="orderPrice"
      (closeModal)="closeModal($event)"
      (decrementQuantity)="decrementQuantity()"
      (incrementQuantity)="incrementQuantity()"
      (buyStock)="buyStock()"
    />
  </div>
  <div class="app__message">
    <app-toast
      [message]="message" 
      [isOpenToast]="isOpenToast"
    />
  </div>

  <app-transfer
    [isOpenTransfer]="isOpenTransfer"
    (handleTransfer)="handleTransfer($event)"
    (closeModalTransfer)="closeModalTransfer($event)"
  />

</div>
