.app {
  max-width: 768px;
  margin: auto;

  &__card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #6131b4;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  

    &-body {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 320px;
      margin: auto;
    }
  }

  &__message {
    padding: 10px;
  }
}
